.App {
  text-align: center;
  height: 100%;
}

.Map {
  display: flex;
  flex: 1.5;
  height: 100%;
  align-items: center;
}

.Right-Data {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.Main {
  display: flex;
  height: 100%;
}

html, body {
  margin: 0;
  height: 100%;
  overflow: hidden
}